<!doctype html>
<html lang="en">
  <head>
    <title>ENOKEY - SSH PublicKey Self-Service Center</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">ENOKEYS - SSH PublicKey Self-Service Center</a>
    </nav>
    <h4>Admin destinations:</h4>
    {{#each admin_destinations}}
        <div>{{this}}</div>
    {{/each}}
    <a href="../keyfiles/admin.authorized_keys">authorized_keys</a>
    <h4>User destinations:</h4>
    {{#each user_destinations}}
        <div>{{this}}</div>
    {{/each}}
    <a href="../keyfiles/user.authorized_keys">authorized_keys</a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" accept-charset="utf-8">
                  <div class="form-group">
                    <label for="authkey">AUTHKEY:</label>
                    <input type="text" class="form-control" name="authkey" id="authkey" placeholder="SECRET_KEY">
                  </div>
                  <button type="submit" class="btn btn-primary">Deploy Keys</button>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>
